@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@source './*.html';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    overflow-y: scroll;
  }
  body {
    background-color: #330033;
    background-image: url("/assets/svg/endless-constellation.svg");
  }
}