@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@source './*.html';

@layer base {
  html {
    overflow-y: scroll;
  }
  body {
    background-color: #000000;
    background-image: url("/assets/svg/endless-constellation.svg");
  }
  article {
    background-color: #000000;
  }
  pre {
    background-color: #000000;
  }
}
